@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url(./fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "digital-7.mono";
  src: local("digital-7.mono"),
    url(./fonts/digital-7.mono.ttf) format("truetype");
}

.wrapper {
  height: 528px;
  width: 321px;
  margin: auto;
  padding: 2rem;

  border: 1px solid #d48c70;
  border-right: 10px solid #d48c70;
  border-bottom: 10px solid #d48c70;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px #d48c70;
  background: linear-gradient(135deg, #f4ba9f, #f79489);

  display: grid;
  gap: 1.33rem;
  grid-template-columns: repeat(4, 1fr);
}

.screen-wrapper {
  padding: 0 2.19rem;

  border: 1px solid #d48c70;
  border-top: 3px solid #d48c70;
  border-left: 3px solid #d48c70;
  background: linear-gradient(135deg, #effbea, #e0fadb);

  grid-column: span 4;
  grid-row: span 2;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen {
  padding: 0;
  overflow: hidden;

  font-family: "digital-7.mono";
  font-size: 36px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: bold;
  color: #33190f;

  border: 1px solid #d48c70;
  border-right: 5px solid #d48c70;
  border-bottom: 5px solid #d48c70;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(212, 140, 112, 0.9);
  background: linear-gradient(135deg, #f8d8c9, #f8afa6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  margin-top: 1px;
  margin-left: 1px;
  border-right-width: 4px;
  border-bottom-width: 4px;
}

.button:active:hover {
  margin-top: 3px;
  margin-left: 3px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.ac {
  border-color: #d57372;
  background: linear-gradient(135deg, #f59580, #f96a67);

  grid-column: span 2;
}

.equals {
  border-color: #d59372;
  background: linear-gradient(135deg, #f6cb55, #ffc21a);
}
